body {font-family: "Lato", sans-serif;
width: auto; height: auto;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

ul.cards_list {
  list-style-type:none;
}

ul.cards_list li {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

#externalpage iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#externalpage {
  width: 90%;
  height: 600px;
  margin: 150px 350px;
}

#card_1 {
    width: 200px;
    height: 200px;
    background: #c2c2d6;
    border: 1px solid #b3b3cc;
}

.menu {
    width: 100%;
    height: auto;
    text-align: center;
    overflow: auto;
    margin-left: 10px;
}

.menu p {
    width: 10%;
    margin-left: 5px;
    float: left;
    font-size: 36px;
}

h3 {
  margin-left: 15px;
}

.general {
  background-color: #f1f1f1;
  height: 20%
}

.tabcontent p {
  height: 350px;;
}
